.body {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 0px 50px;
}

@media (max-width: 850px) {
    .body {
        flex-wrap: wrap;
    }

    #right-side {
        /* stretch all the way */
        width: 100%;
        /* value for margin-left here would be: negative of (body.margin-left minus desired value) */
        margin: 0px 10px 10px -40px;
    }
}

#right-side {
    background-color: black;
    color: white;
    padding: 20px 20px 50px 20px;
    margin-top: -50px;
}

#about,
#advanced-skills,
#intermediate-skills,
#contact-info,
#logos {
    color: gray;
    margin: 50px 0px 0px 0px;
}

#about-text,
#skills-points,
#email,
#phone {
    color: white;
}

#email,
#phone,
#about-text a {
    margin: 20px 0px 0px 0px;
    text-decoration: none;
    color: white;
}

#github-logo,
#linkedin-logo,
#download-logo {
    max-width: 40px;
    margin: 0px 10px 0px 0px;
}

/* BUG: right-side won't wrap properly based on screen size with more than 2 columns */
#skills-points {
    columns: 2;
}

.memoji {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    border-radius: 100%;
    width: 80px;
}

.profile-overview {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: fit-content;
    width: fit-content;
    align-items: center;
}

#name {
    font-size: 35px;
    margin: 0px 0px 0px 0px;
}

#title {
    font-size: 19px;
    margin: 0px 0px 0px 5px;
    color: gray
}

#work-experiences,
#educations,
#honors-and-awards,
#personal-projects,
#leadership-and-affiliations {
    margin: 50px 30px 0px 0px;
}

#leadership-and-affiliations {
    /* so that when the right-side moves to the bottom, this isn't hidden underneath */
    margin-bottom: 100px;
}

#position-company,
#degree-institution,
#project-role,
#organization-role {
    margin: 30px 0px 0px 0px;
    display: flex;
    gap: 5px;
}

#honor-or-award-points {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 20px;
}

#position,
#degree,
#project,
#organization {
    font-weight: 900;
    margin: 0px 0px 0px;
}

#company,
#institution,
#role {
    color: gray;
    margin: 0px 0px 0px;
}

#date,
#gpa {
    color: gray;
    margin: 5px 0px 0px 0px;
}

#description {
    max-width: 90%;
}

#footer-text {
    font-size: 10px;
    color: white;
    text-align: left;
    margin: 50px 0px 0px 0px;
}

#description-points {
    line-height: 1.35;
}